<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link rel="stylesheet" href="../static/css/login.css" type="text/css">
    <script src='http://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script src="../static/js/login.js"></script>
</head>
<body style="background:black;">
	<div id = "titlebox">
		<nobr id="titlebox_text1"style="color:#9F79EE;">AD   </nobr>
		<nobr id="titlebox_text2"style="color:white;"> Milk</nobr>
	</div>
    <div id = "infobox">

        <div id="slogan"><b>现在登录 —— 享受数据化运动生活！</b></div>
        <div id="userbox">
             <div class="username">  
                <input type="text" id="username"/>
                <div id="username_text">用户名</div>
            </div> 
             <div class="password">  
                <input type="password" id="password"/>
                <div id="password_text">密码</div>
            </div> 
        </div>
        <input id="confirm" type="submit" name="signup" value="登陆"/>
     
    </div>
    <script type="text/javascript">
      	changesize();
        var openID = '{{ openID }}'
        $(function(){
            $("#confirm").click(function(){
                    var username = $("#username").val();
                    var password = $("#password").val();
                    $.post("/login/",{"openID": openID, "username": username, "password": password},function(ret){
                        alert(ret);
                    });
            });
        });
    </script>
</body>
</html>