<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计步器</title>
    <link rel="stylesheet" href="../static/css/pedometer.css" type="text/css">
    <script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
    <script src="../static/js/pedometer.js"></script>
    <script src="../static/js/highcharts.js"></script>
</head>
<body style="background:black;">
	<div id = "titlebox">
		<nobr id="titlebox_text1"style="color:#9F79EE;">AD   </nobr>
		<nobr id="titlebox_text2"style="color:white;"> Milk</nobr>
	</div>
    <div id = "infobox">
     	<div id = "top"> 
           	<button id="next">next</button>
            <input id = "date" type="date"/>
            <button id="previous">previous</button>
     	</div>
     	<div id = "middle">
            <div id="middle_background"></div>
            <div id = "DoughnutChart"></div>
            <table id="text2">
                <tr>
                    <td id="steps"></td>
                    <td id="stepGoal"></td>
                </tr>
                <tr>
                    <td id="distance"></td>
                    <td id="distanceGoal"></td>
                </tr>
                <tr>
                    <td id="cal"></td>
                    <td id="calGoal"></td>
                </tr>
     		</table>
     	</div>
        <div id = "bottom">
            <button id = "showchart">showchart</button>
     	</div>
    </div>
    <script type="text/javascript">
      	changesize();
        var openID = '{{ openID }}'
    </script>
</body>
</html>