<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
    <title>个人信息</title>
    <link rel="stylesheet" href="../static/css/personalinfo.css" type="text/css">
    <script src='http://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script type="text/javascript" src="../static/js/personalinfo.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body style="background:black;">
	<div id = "titlebox">
		<nobr id="titlebox_text1"style="color:#9F79EE;">AD   </nobr>
		<nobr id="titlebox_text2"style="color:white;"> Milk</nobr>
	</div>
    <div id = "infobox" >
        <!--         <div id="Layer1" style="position:fixed; left:0; top:0; width:100%; height:100%;">  -->

        <div id="exercise_advicebox">
            <div id="exercise_advice_title">&nbsp&nbsp您知道吗</div>
            <div id="exercise_advice_text"></div>
        </div>

     	<div class="sex">
       		<img id="sex" src="../static/img/sex.png">
			<img id="sex_man" src="../static/img/sex_man.png">
			<img id="sex_woman" src="../static/img/sex_woman.png">
			<div id="sex_text">性别</div>
		</div>
    	<div class="age">
    		<input type="text" id="age" disabled="true"/>
    		<div id="age_text">年龄</div>
    	</div>

    	<div class="weight">
			<input type="text" id="weight" disabled="true"/>
			<div id="weight_text">体重</div>
		</div>

		<div class="height">
			<input type="text" id="height" disabled="true"/>
			<div id="height_text">身高</div>
		</div>

        <input id="confirm" type="submit" name="signup" value="修改"/>

    </div>
    <script>
    	changesize();
        var openID = '{{ openID }}'
    </script>
</body>
</html>