<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="../static/css/signin.css" type="text/css">
    <script src='http://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script src="../static/js/signin.js"></script>
</head>
<body style="background:black;">
	<div id = "titlebox">
		<nobr id="titlebox_text1"style="color:#9F79EE;">AD   </nobr>
		<nobr id="titlebox_text2"style="color:white;"> Milk</nobr>
	</div>
    <div id = "infobox">

        <div id="slogan"><b>现在注册 —— 获得个性化运动建议！</b></div>
        <div id="userbox">
             <div class="username">  
                <input type="text" id="username"/>
                <div id="username_text">用户名</div>
            </div> 
             <div class="password">  
                <input type="password" id="password"/>
                <div id="password_text">密码</div>
            </div> 
            <div class="confirm_password">  
                <input type="password" id="confirm_password"/>
                <div id="confirm_password_text">确认密码</div>
            </div> 
        </div>
        <input id="confirm" type="submit" name="signup" value="注册"/>
     
    </div>
    <script type="text/javascript">
      	changesize();
        var openID = '{{ openID }}'
        $(function(){
            $("#confirm").click(function(){
                var key = valid_password();
                if (key == 1) {
                    var username = $("#username").val();
                    var password = $("#password").val();
                    $.post("/signin/",{"openID": openID, "username": username, "password": password},function(ret){
                        alert(ret);
                    });
                }
                else if (key == 2) {
                    alert("密码长度至少六位，请重新输入！");
                    $("#password").val("");
                    $("#confirm_password").val("");
                }
                else {
                    alert("密码不一致，请重新输入！");
                    $("#password").val("");
                    $("#confirm_password").val("");
                };
            });
        });
    </script>
</body>
</html>