#exercise-report{
    font-family:STXihei;
    position: absolute;
    left: 10%;
    top: 10%;
    height: 20%;
    width: 80%;
    background-color:#FFF;
    border-radius: 10px;
    opacity:0.5;
    padding: 2px;
}
#lineChart{
    position: absolute;
    left: 10%;
    top: 33%;
    height: 40%;
    width: 81%;
}
#competition-report{
    position: absolute;
    left: 10%;
    width: 80%;
    height: 30%;
    top: 75%;
}
#table{
    font-family:STXihei;
    width:100%;
    height: 100%;
}