#titlebox{
	position: absolute;
    height:350px;
    top:0px;
    left:0px;
    border-bottom: 1px solid white;
    color:white;
    font-family:STXihei;
    text-align: center;
}

#infobox{
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-radius: 50px;
    height:350px;
    background: #F3F3F3;
}

#top {
    position: absolute;
    top: 0;
    left: 0;
    height: 20%;
    width: 100%;
}

#next {
    position: absolute;
    top: 20%;
    right:5%;
    width:15%;
    height:60%;
}

#previous {
    position: absolute;
    top: 20%;
    left:5%;
    width:15%;
    height:60%;
}

#date {
    position: absolute;
    top:20%;
    left:25%;
    height:60%;
    width:50%;
    /*font-size: 60px;*/
    /*line-height: 150px; */
    border-style: none;  
}

::-webkit-inner-spin-button { visibility: hidden; }

#middle {
    position: absolute;
    top: 20%;
    left: 0;
    height: 60%;
    width: 100%;
}

#DoughnutChart {
    position: absolute;
    top:15%;
    left:0;
    width:100%;
}

#text {
    position:absolute;
    bottom:0%;
    left:0;
    width:100%;
    height:15%;
    font-size: 50px;
    font-family: STXihei;
    text-align: center;
}

#bottom {
    position:absolute;
    top:80%;
    left:0;
    height:20%;
    width:100%;
}

#showchart{
    position: absolute;
    bottom:25%;
    left:20%;
    height:40%;
    width:60%;
}