 #titlebox{
    	position: absolute;
        height:350px;
        top:0px;
        left:0px;
        border-bottom: 1px solid white;
        color:white;
    	text-align: center;
    }

    #infobox{
        position: absolute;
        left: 0px;
        bottom: 0px;
        height:350px;
        background: #F3F3F3;
        background-image:url("../img/run02.jpg");
        filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
		-moz-background-size:100% 100%;
		background-size:100% 100%;
       	/*background-repeat: no-repeat;*/
    }

    #exercise_advicebox{
    	position: absolute;
    	left: 10%;
    	top: 10%;
    	height: 20%;
    	width: 80%;
    	background-color:#FFF;
		border-radius: 10px;
    	opacity:0.5;
    }

    #exercise_advice_title{
    	position: absolute;
    	left: 0px;
    	top: 0px;
    	height: 20%;
    	width: 100%;
    	background-color:black;
    	color: white;
    	border-radius: 10px 10px 0px 0px;
    	font-family:STXihei;
    }

    #exercise_advice_text{
    	position: absolute;
    	left: 5%;
    	top: 25%;
    	height: 70%;
    	width: 90%;
    	border-radius: 0px 0px 10px 10px;
    	font-family:STXihei;
    }



    #confirm{
        position:absolute;
    	bottom:3%;
    	right:10%;
    	height: 6%;
    	width: 20%;
        font-family:STXihei;
        border-radius: 5px;
        background-color:#FFF;
        border:1px solid #CDCDCD;
        opacity:0.5;
    }

	.sex{
		position:absolute;
		top:40%;
		left:10%;
		width:35%;
		height:12%;
/*		border-radius: 10px;
		border: 2px solid #EDEDED;*/
		text-align: center;
		opacity:0.7;
	}

	#sex {
		visibility:visible;
		z-index:1;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		border-radius: 10px;
	}

    #sex_man{
    	visibility:hidden;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		border-radius: 10px;
		/*border: 2px solid #EDEDED;*/
		z-index:1;
	}

	#sex_woman{
    	visibility:hidden;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		border-radius: 10px;
		/*border: 2px solid #EDEDED;*/
		z-index:1;
	}

	#sex_text{
		position: absolute;
		top:80%;
		left:0;
		width:100%;
		height:20%;
		z-index:2;
	}

	.age{
		position: absolute;
		top:40%;
		right: 10%;
		width:35%;
		height:12%;
		border-radius: 10px;
		border: none;
		background: #EBEBEB;
		text-align: center;
		opacity:0.7;
		overflow: hidden;
	}

	#age{
		background: #EBEBEB;
		margin:0;
		padding:0;
		width:100%;
		height:70%;
		border-radius: 10px;
		border: none;
		/*background: #EBEBEB;*/
		text-align: center;
		overflow: hidden;
	}

	#age_text{
		position: absolute;
		top:80%;
		left: 0;
		width:100%;
		height:20%;
		opacity:1;
	}

	.weight{
		position: absolute;
		top:60%;
		left: 10%;
		width:35%;
		height:12%;
		border-radius: 10px;
		border: none;
		background: #EBEBEB;
		text-align: center;
		opacity:0.7;
		overflow: hidden;
	}
	#weight{
		margin:0;
		padding: 0;
		width:98%;
		height:70%;
		border-radius: 10px;
		border: none;
		background: #EBEBEB;
		text-align: center;
		overflow: hidden;
	}
	#weight_text{
		position: absolute;
		top:80%;
		left: 0;
		width:100%;
		height:20%;
	}

	.height{
		position: absolute;
		top:60%;
		right: 10%;
		width:35%;
		height:12%;
		border-radius: 10px;
		border: none;
		background: #EBEBEB;
		text-align: center;
		opacity:0.7;
		overflow: hidden;
	}
	#height{
		margin:0;
		padding: 0;
		width:98%;
		height:70%;
		border-radius: 10px;
		border: none;
		background: #EBEBEB;
		text-align: center;
		overflow: hidden;
	}
	#height_text{
		position: absolute;
		top:80%;
		left: 0;
		width:100%;
		height:20%;
	}
