    #titlebox{
    	position: absolute;
        height:350px;
        top:0px;
        left:0px;
        border-bottom: 1px solid white;
        color:white;
    	font-family:STXihei;
    	text-align: center;
    }
    #infobox{
        position: absolute;
        left: 0px;
        bottom: 0px;
        border-radius: 50px;
        height:350px;
        background: #F3F3F3;
    }
    /*.front_items{
        position:absolute; 
        left:10%;
        height:30px;
        font-family:STXihei; 
        font-size:50px; 
        width:280px;
    }*/
    .input_items{
        position:absolute; 
        left:10%;
        height:30px;
        font-family:STXihei; 
        font-size:15px; 
        width:80%; 
    }

    #confirm{
        position:absolute; 
    	bottom:3%; 
    	right:8%;
    	height: 6%;
    	width: 20%;
        font-family:STXihei;
        background-color:#FFF;
        border:1px solid #CDCDCD;
    }

	.sex{
		position:absolute;
		top:40%;
		left:10%;
		border-radius: 10px;
		border: 2px solid #EDEDED;
		text-align: center;
	}

	#sex {
		visibility:visible;
		z-index:1;
	}

    #sex_man{
    	visibility:hidden;
		position:absolute;
		top:0;
		left:0;
		border-radius: 10px;
		border: 2px solid #EDEDED;
		z-index:1;
	}

	#sex_woman{
    	visibility:hidden;
		position:absolute;
		top:0;
		left:0;
		border-radius: 10px;
		border: 2px solid #EDEDED;
		z-index:1;
	}
	
	#sex_text{
		position: absolute;
		z-index:2;
	}

	.age{
		position: absolute;
		top:40%;
		left: 55%;
		border-radius: 10px;
		border: none;
		background: #EBEBEB;
		text-align: center;
	}
	#age{
		position: absolute;
		top:0;
		left: 0;
		border-radius: 10px;
		border: none;
		background: #EBEBEB;
		text-align: center;
	}

	#age_text{
		position: absolute;
	}

/*	#age_data{
		position: absolute;
		top:0;
		left: 0;
		border-radius: 10px;
		background: #EBEBEB;
		text-align: center;
		visibility: hidden;
	}*/
	#age_tip{

	}

	.weight{
		position: absolute;
		top:60%;
		left: 10%;
		border-radius: 10px;
		border: none;
		background: #EBEBEB;
		text-align: center;
	}
	#weight{
		position: absolute;
		top:0;
		left: 0;
		border-radius: 10px;
		border: none;
		background: #EBEBEB;
		text-align: center;
	}
	#weight_text{
		position: absolute;
	}

	.height{
		position: absolute;
		top:60%;
		left: 55%;
		border-radius: 10px;
		border: none;
		background: #EBEBEB;
		text-align: center;
	}
	#height{
		position: absolute;
		top:0;
		left: 0;
		border-radius: 10px;
		border: none;
		background: #EBEBEB;
		text-align: center;
	}
	#height_text{
		position: absolute;
	}