#titlebox{
	position: absolute;
    height:350px;
    top:0px;
    left:0px;
    border-bottom: 1px solid white;
    color:white;
    font-family:STXihei;
    text-align: center;
}

#infobox{
    position: absolute;
    left: 0px;
    bottom: 0px;
    height:350px;
    background: #F3F3F3;
    background-image:url(../img/run02.jpg);
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;
}

#exercise_advicebox{
    position: absolute;
    left: 10%;
    top: 10%;
    height: 20%;
    width: 80%;
    background-color:#FFF;
    border-radius: 10px;
    opacity:0.5;
}

#exercise_advice_title{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 20%;
    width: 100%;
    background-color:black;
    color: white;
    border-radius: 10px 10px 0px 0px;
    font-family:STXihei;
}

#exercise_advice_text{
    position: absolute;
    left: 5%;
    top: 25%;
    height: 70%;
    width: 90%;
    border-radius: 0px 0px 10px 10px;
    font-family:STXihei;
}


::-webkit-inner-spin-button { visibility: hidden; }

#slogan{
    position: absolute;
    right: 10%;
    top: 35%;
    height: 5%;
    /*background: blue;*/
    text-align: right;
    border-bottom: 5px solid black;
    color:#68ff71;
    opacity:0.7;
}

#planbox{
    position: absolute;
    left: 10%;
    top: 40%;
    height: 50%;
    width: 80%;
    border-right: 5px solid black;
    border-radius: 10px;
}

.plan_step{
    position: absolute;
    top:5%;
    left: 0%;
    width:100%;
    height:25%;
    border-radius: 10px;
    border: none;
    background: #EBEBEB;
    text-align: center;
    opacity:0.7;
    overflow: hidden;
}

#plan_step{
    background: #EBEBEB;
    margin:0;
    padding:0;
    width:100%;
    height:70%;
    border-radius: 10px;
    border: none;
    /*background: #EBEBEB;*/
    text-align: center;
    overflow: hidden;
}

#plan_step_text{
    position: absolute;
    bottom: 0%;
    left: 0;
    width:100%;
    height:30%;
    opacity:1;
}

.plan_distance{
    position: absolute;
    top:40%;
    left: 0%;
    width:100%;
    height:25%;
    border-radius: 10px;
    border: none;
    background: #EBEBEB;
    text-align: center;
    opacity:0.7;
    overflow: hidden;
}

#plan_distance{
    background: #EBEBEB;
    margin:0;
    padding:0;
    width:100%;
    height:70%;
    border-radius: 10px;
    border: none;
    /*background: #EBEBEB;*/
    text-align: center;
    overflow: hidden;
}

#plan_distance_text{
    position: absolute;
    bottom: 0%;
    left: 0;
    width:100%;
    height:30%;
    opacity:1;
}

.plan_calories{
    position: absolute;
    top:75%;
    left: 0%;
    width:100%;
    height:25%;
    border-radius: 10px;
    border: none;
    background: #EBEBEB;
    text-align: center;
    opacity:0.7;
    overflow: hidden;
}

#plan_calories{
    background: #EBEBEB;
    margin:0;
    padding:0;
    width:100%;
    height:70%;
    border-radius: 10px;
    border: none;
    /*background: #EBEBEB;*/
    text-align: center;
    overflow: hidden;
}

#plan_calories_text{
    position: absolute;
    bottom: 0%;
    left: 0;
    width:100%;
    height:30%;
    opacity:1;
}

#confirm{
        position:absolute;
        bottom:2%;
        right:10%;
        height: 6%;
        width: 20%;
        font-family:STXihei;
        border-radius: 5px;
        background-color:#FFF;
        border:1px solid #CDCDCD;
        opacity:0.5;
    }